

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=* # Authorization,Content-Type,X-Requested-With
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=3600



# ============================================
# Kafka
# ============================================
KAFKA_VERSION=4.3.1
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# ============================================
# Redis
# ============================================
REDIS_VERSION=7.4-alpine
REDIS_PASSWORD=redis-pass

# PostgreSQL
POSTGRES_VERSION=16-alpine

# Базы данных для Auth
AUTH_DB_NAME=authdb
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass

# Базы данных для Receiving
RECEIVING_DB_NAME=receivingdb
RECEIVING_DB_USER=receiving_user
RECEIVING_DB_PASSWORD=receiving_pass

# Базы данных для Inventory (если нужен)
INVENTORY_DB_NAME=inventorydb
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass

# OAuth2 client для Gateway (должен совпадать с RegisteredClient на auth-service)
GATEWAY_CLIENT_ID=waregang-api-gateway
GATEWAY_CLIENT_SECRET=secret

# ============================================
# Spring Security
# ============================================
JWT_SECRET=vZWtIb0AUbrMiSNB1tL+EzavlbQ9gpEgQpYxlLs1FuA

JWT_ACCESS_TOKEN_EXPIRATION=15 #min
JWT_REFRESH_TOKEN_EXPIRATION=12 #h

AUTH_SERVER_ISSUER_URL=http://auth-service:9000
AUTH_SERVER_REDIRECT_URI=http://localhost:8080/login/oauth2/code/waregang-api-gateway # waregang-api-gateway - client_id
AUTH_SERVER_POST_LOGOUT=http://localhost:8080/

AUTHORIZATION_URI=http://localhost:9000/oauth2/authorize
USER_INFO_URI=http://auth-service:9000/userinfo
JWK_SET_URI=http://auth-service:9000/oauth2/jwks
TOKEN_URI=http://auth-service:9000/oauth2/token

SESSION_DURATION=7d

# ============================================
# Spring Boot Application
# ============================================
SPRING_PROFILES_ACTIVE=dev
